<div class="container" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">

    <div class="row">
        <div class="col-md-3">
            <h3>{{attachment}}</h3>
            <input type="file" nv-file-select="" uploader="uploader" multiple  /><br/>
        </div>

        <div class="col-md-9" style="margin-bottom: 40px">
            <p style="font-family: '微软雅黑 Regular'">文件数量: {{ uploader.queue.length }}</p>
            <table class="table">
                <thead>
                <tr>
                    <th width="50%">文件名称</th>
                    <th ng-show="uploader.isHTML5">文件大小</th>
                    <th ng-show="uploader.isHTML5">是否上传成功</th>
                    <th>删除</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in uploader.queue">
                    <td><strong>{{ item.file.name }}</strong></td>
                    <td nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span><i class="glyphicon glyphicon-ok"></i></span>
                    </td>
                    <td nowrap>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> 删除
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

            <div>
                <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> 上传
                </button>
            </div>
        </div>
    </div>
</div>